{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--<h2>Home!</h2>-->


<!-- always add this to each panel &refresh=1s-->
<!--<div class = "container-fluid bgTest">-->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="banner">
          <img src="{% static 'images/bannerOpacity.jpg' %}">
        </div>
        <div class="container">
          <div class="carousel-caption text-start text-dark font-weight-bold ">
            <h1>Structural Health Monitoring </h1>
            <p>Engineerig and Technological Precinct | The University of Sydney</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="banner">
          <img src="{% static 'images/bannerConcrete2.jpg' %}">
        </div>
        <div class="container">
          <div class="carousel-caption font-weight-bold">
            <h1>An Important Diagnostic Tool</h1>
            <p>“Structural Health Monitoring is the process of design, development and implementation of a damage detection of characterisation strategy for real-time assessment of structural condition.”</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="banner">
          <img src="{% static 'images/bannerConcrete2.jpg' %}">
        </div>
        <div class="container">
          <div class="carousel-caption text-end font-weight-bold">
            <h1>An Important Learning Tool</h1>
            <p>“Its implementation within the Electrical Engineering Building is intended to be an educational tool for engineering students to assist in their learning of structural parameters for bridge design.”</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
<!--</div>-->

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <div class="circular--portrait">
          <img src="{% static 'images/map.jpg' %}">
        </div>
        <h2>Location</h2>
        <p>Located within the level one foyer of the newly built Electrical Engineering Building at the University of Sydney, the new footbridge will not only function as a medium to move from point A to point B, but also as an engaging learning tool for structural health monitoring.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="circular--portrait">
          <img src="{% static 'images/personOnBridge.jpg' %}">
        </div>
        <h2>Pedestrian Traffic</h2>
        <p>With pedestrian traffic constantly changing throughout the day, building users and students can effectively determine periods of low and high foot traffic by observing peak deflection values.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="circular--portrait">
          <img src="{% static 'images/sensor.jpg' %}">
        </div>
        <h2>Strain Sensors</h2>
        <p>The advancement of sensor technology has enabled increasingly sensitive values of deflection to be determined. This correspondingly has meant an increase in the level of accuracy in the data obtained.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div>
  
<div class = "container">
	 <!-- START THE FEATURETTES -->
   <div class="banner">
      <img src="{% static 'images/bannerMid.jpg' %}">
  </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Fiber Bragg Grating (FBG) Sensors <!--<span class="text-muted">It’ll blow your mind.</span>--></h2>
        <p class="lead">Fibre Bragg Grating (FBG) sensors measure changes in temperature and strain at discrete locations along a fibre optic cable. The FBGs are determined by generating periodic variations in the refractive index within the centre of an optical fibre. According to Bragg’s law, when a beam of light travels in the FBG sensor, the light from the broadband source passes through the grating at a particular wavelength, the Bragg wavelength is reflected which relates to the grating period. These changes in the wavelength of the reflected light are linearly proportional to changes in temperature and strain along the optical fibre and enables the computation of temperature and strain changes.</p>
      </div>
      <div class="col-md-5">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
        <div class="portrait">
          <img src="{% static 'images/Image2.jpg' %}">
        </div>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Location Of Sensors Within The Footbridge <!--<span class="text-muted">See for yourself.</span>--></h2>
        <p class="lead">There are six strain sensor arrays and two temperature sensor arrays. Each strain sensor array contains 16 sensors at 1.0 m spacing. Each temperature sensor array contains 4 sensors at 5.0m spacing. The strain sensor arrays were divided into two sets of three arrays each. These are referred to as set A and set B. Furthermore, there is one set of two temperature sensor arrays, referred to as set C.The position on plan of the fibre optic sensor arrays for strain and temperature can be seen in the adjacent schematic.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <div class="portrait">
          <img src="{% static 'images/Image1.jpg' %}">
        </div>
        <!--<img src="{% static 'images/Image2.jpg' %}" class="img-fluid">-->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Pedestrian Flow and Changes in Sensor Data. <!--<span class="text-muted">Checkmate.</span>--></h2>
        <p class="lead">When pedestrian traffic moves across the footbridge, there are various implications that relate to the changes in magnitude of the data received by the strain and temperature sensors. Such changes can result in fluctuations in various time-dependent structural parameters such as curvature, slope and deflection.</p>
      </div>
      <div class="col-md-5">
         <div class="portrait">
          <img src="{% static 'images/Image3.jpg' %}">
        </div>
      </div>
    </div>
    <!-- /END THE FEATURETTES -->

    
    <hr class="featurette-divider">

</div>




{% endblock content %}
