.tag-list {
    list-style: none;
}

.tag-list li .btn {
    margin-top: 15px;
    width: 100%;
}

.tag-list li a:link,
.tag-list li a:visited {
    text-decoration: none;
}

#detailBoxWhole {
    width: 100%;
    height: 100%;
    opacity: .98;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: #313131;
    overflow: auto;
    z-index: 9
}

img#close {
    position: absolute;
    right: -18px;
    top: -20px;
    width: 30px;
    cursor: pointer;
    /* background-color: rgba(59, 59, 59, 0) !important; */
}

div#popupDetail {
    position: absolute;
    left: 20%;
    top: 17%;
    width: 50%;
    border: 10px solid #061d9c;
    font-weight: bolder;
}


input[type=text] {
    width: 82%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px
}

#name {
    background-repeat: no-repeat;
    background-position: 5px 7px
}

#email {
    background-repeat: no-repeat;
    background-position: 5px 7px
}

textarea {
    background-repeat: no-repeat;
    background-position: 5px 7px;
    width: 82%;
    height: 95px;
    padding: 10px;
    resize: none;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    margin-bottom: 30px
}

#submit {
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #061d9c;
    color: #fff;
    border: 1px solid #061d9c;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px
}

div#detailBox {
    width: auto;
    border: 10px solid #061d9c;
    padding: 25px;
    margin: 25px;
    color: white;
}

.tag-btn {
    width: 200px !important;
  }

#create-tag-btn{
    margin-top: 30px;
}

#tags-h2 {
    margin-top: 50px;
    margin-left: 10px;
}

#add-task-btn {
    width: 90%;
    margin-left:15%;
}

#assign-text {
    margin-left: 160px;
}

.tags {
    height: 570px;
    width: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
}
input#clock{
font-size: 24px;

}

#id_detail{
    display: none;
}

.editing_label{
    color: white;
}


