.popup {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  padding: 50px;
  display: none;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  opacity: 1;
  overflow-y: scroll;
}

.popup.input {
  height: 1px;
}

#create-tag-form {
  width: 300px;
  height: 450px;
}

#create-submit-tag {
  margin-top: 60px;
  width: 100%;
}
