{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Home!</h2>
<iframe src="http://lb-7f22f7qde3zni.australiaeast.cloudapp.azure.com:3000/d-solo/Cmuvf1BMk/graph?orgId=1&from=1611097767213&to=1611119367214&panelId=2" width="450" height="200" frameborder="0"></iframe>
<iframe src="http://kb-d4ugbeeyrnw3u.australiaeast.cloudapp.azure.com:5601/app/dashboards#/view/35ce0380-5ae0-11eb-9f65-2f87cbc4f9e8?embed=true&_g=(filters%3A!()%2Cquery%3A(language%3Akuery%2Cquery%3A'')%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow%2Fd%2Cto%3Anow%2Fd))" height="600" width="800"></iframe>

{% endblock content %}
