{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Home!</h2>

<iframe src="https://4c5b738f0e9841898322384d235e7c20.australiaeast.azure.elastic-cloud.com:9243/app/dashboards#/view/383122e0-5a06-11eb-9f5e-2b393a5dae63?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:testDashboard,viewMode:view)&hide-filter-bar=true" height="600" width="800"></iframe>

{% endblock content %}
