{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_styles/base.css' %}">
    <meta charset="utf-8">
    <!<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    {% if title %}
        <title>Fibre Optics- {{ title }}</title>
    {% else %}
        <title>Fibre Optics</title>
    {% endif %}

</head>

<body>
    <!--<header>
        <nav class="navbar">
          <a class="navbar-brand" href="#"><img src="{% static 'images/lor.png' %}" alt="LOR Logo" class="d-inline-block align-top logo"></a>
          <ul class="main-nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          </ul>
        </nav>
    </header>-->
    <div id="navbar">
      <b class="navbar-brand" href="#">
        <img src="{% static 'images/lor.png' %}" width="190" height="90" alt="">
      </b>
      <a href="{% url 'dashboard' %}">Dashboard</a>
      <a href="{% url 'home' %}">Home</a>
    </div>
    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
              myFunction();
      });
      /*window.onload = function() {myFunction()};*/
      window.onscroll = function() {myFunction()};
      
      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;
      
      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }
      </script>

    <section class="content">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        
          {% block content %}{% endblock %}
        
    </section>


    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
