/* Colour: 60008c */

/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*background-image: url('../../images/building.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: white;
}


html {
    background-color: white;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    /*text-rendering: optimizeLegibility;
    font-weight: 300;*/
}

.breakpoint { display: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
footer {
    border-top: none;

}

/* #main-content {
    background-color: rgb(223, 223, 223);
    border-radius: 50px;
    padding: 10px 10px;
} */

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 0% 0;
}

.box {
    padding: 1%;
}

.panel {
    padding: 1%;
    /*float: left;*/
    width: 94%;
}


iframe {
    margin: 0 auto;
    display: block;
    /*padding: 1%;*/
    /*float: left;*/
    width: 94%;
}

.spacer {
  margin: 1% 0; /* Space out the Bootstrap <hr> more */
  background-color: white;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}
.test{
    /*margin-top:3%;*/
    margin: 3% auto;
    display: block;
    /*padding: 1%;*/
    /*float: left;*/
    width: 94%;
}

.bgTest{
   background-image: url('../../images/cover1Min.png');
}

.circular--portrait {
  position: relative;
  margin: auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}
.circular--portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portrait {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner img {
  width: 100%;
  height: 100%;
}


/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

#myCarousel{
    width: 100%;
}


/* ------------------------------------- */
/* HEADINGS */
/* ------------------------------------- */

h1,
h2,
h3 {
    font-weight: 300;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(36, 36, 36);
    font-size: 250%;
    word-spacing: 1px;
}

h2 {
    font-size: 170%;
    word-spacing: 2px;
    /*text-align: center;*/
    color: #60008c;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*h2:after {
    display: block;
    height: 2px;
    background-color: #60008c;
    content: " ";
    width: 180px;
    margin: 0 auto;
    margin-top: 30px;
}*/

/*h2:after {
    display: block;
    height: 2px;
    background-color: #000000;
    content: " ";
    width: 94%;
    margin: 0 auto;
    margin-top: 30px;
}*/

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header {
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 1px 1px 2px;

}

.main-nav {
    float:left;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    font-size: 150%;
    margin-left: 63px;
    margin-right: 32px;
}

.main-nav li:first-of-type {
    margin-left: 100px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    padding: 4px 0px;
    text-decoration: none;
    font-size: 80%;
    font-weight: 900;
    -webkit-transition: border-bottom 0.2s;
}

.logo {
    float: left;
    /* display: inline; */
    margin: 10px 0;
    width: 70%;
}

/* ------------------------------------- */
/* BUTTONS */
/* ------------------------------------- */

.btn:link,
.btn:visited {
    text-decoration: none;
    color: rgb(226, 225, 225);
    padding: 10px 10px;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 0.5px solid #60008c;
    color: #60008c;
}

.btn-ghost:hover {
    background-color: #60008c;
    color: rgb(226, 225, 225);
}

.btn-full {
    border: 0.5px solid rgba(59, 59, 59, 0.301);
}

.btn-full:link,
.btn-full:visited {
    background-color: #60008c;
}

.btn-full:hover {
    background-color: #460066;
    color: rgb(226, 225, 225);
}
#colLeft{
    text-align: left;

}
#colRight{
    text-align: right;
}
