{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles/profile.css' %}">
{% endblock head %}
{% block content %}

<div class="container bootstrap snippets bootdey">
    <div class="panel">
        <div class="bio-heading">
            {{ user.username }}'s profile
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="info">
                        <h4 class="purple-box">Time Studied:</h4>
                        <p>{{ user.userdata.time_studied }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                    <div class="info">
                        <h4 class="purple-box">Tasks Completed:</h4>
                        <p>{{ user.userdata.tasks_completed }}</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>





{% endblock content %}